@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserratbold.woff2") format("woff2");
}
